<div *ngIf="countriesReady">
  <h4>Randomly selected country from Observable</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country</th>
        <th scope="col">Area</th>
        <th scope="col">Population</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>
          <img src = "https://upload.wikimedia.org/wikipedia/commons/{{randCountry.flag}}" class="mr-2" style="width: 20px">
          {{ randCountry.name }}
        </td>
        <td>{{ randCountry.area | number }}</td>
        <td>{{ randCountry.population | number }}</td>
      </tr>
    </tbody>
  </table>
</div>
