<div *ngIf="(randCountry$ | async) as c, else loading">
  <h4>Randomly selected country from Observable</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Country</th>
        <th scope="col">Area</th>
        <th scope="col">Population</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img src = "https://upload.wikimedia.org/wikipedia/commons/{{c.flag}}" class="mr-2" style="width: 20px">
          {{ c.name }}
        </td>
        <td>{{ c.area | number }}</td>
        <td>{{ c.population | number }}</td>
      </tr>
    </tbody>
  </table>
  <!-- </div> -->
</div>
<ng-template #loading>
  <h3><p>Waiting for matching countries from the server...</p></h3>
</ng-template>